<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.condominiosweb.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidenteController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ResidenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaResidenteController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaResidenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CondominioController</servlet-name>
        <servlet-class>com.condominiosweb.controller.CondominioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCondominioController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaCondominioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViviendaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ViviendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaViviendaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaViviendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioController</servlet-name>
        <servlet-class>com.condominiosweb.controller.InicioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuotaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.CuotaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCuotaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaCuotaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoController</servlet-name>
        <servlet-class>com.condominiosweb.controller.PagoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaMorosoController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaMorosoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ReservaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaReservaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaReservaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuejaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.QuejaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaQuejaResidenteController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaQuejaResidenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaQuejasController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaQuejasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensajeController</servlet-name>
        <servlet-class>com.condominiosweb.controller.MensajeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaMensajeController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaMensajeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.condominiosweb.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.VisitaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaVisitaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaVisitaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JuntaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.JuntaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaJuntaController</servlet-name>
        <servlet-class>com.condominiosweb.controller.ListaJuntaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidenteController</servlet-name>
        <url-pattern>/Residente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaResidenteController</servlet-name>
        <url-pattern>/ListaResidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CondominioController</servlet-name>
        <url-pattern>/Condominio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCondominioController</servlet-name>
        <url-pattern>/ListaCondominio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViviendaController</servlet-name>
        <url-pattern>/Vivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaViviendaController</servlet-name>
        <url-pattern>/ListaVivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioController</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuotaController</servlet-name>
        <url-pattern>/Cuota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCuotaController</servlet-name>
        <url-pattern>/ListaCuota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoController</servlet-name>
        <url-pattern>/Pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaMorosoController</servlet-name>
        <url-pattern>/ListaMoroso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaController</servlet-name>
        <url-pattern>/Reserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaReservaController</servlet-name>
        <url-pattern>/ListaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuejaController</servlet-name>
        <url-pattern>/Queja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaQuejaResidenteController</servlet-name>
        <url-pattern>/ListaQuejaResidente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaQuejasController</servlet-name>
        <url-pattern>/ListaQueja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensajeController</servlet-name>
        <url-pattern>/Mensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaMensajeController</servlet-name>
        <url-pattern>/ListaMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitaController</servlet-name>
        <url-pattern>/Visita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaVisitaController</servlet-name>
        <url-pattern>/ListaVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JuntaController</servlet-name>
        <url-pattern>/Junta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaJuntaController</servlet-name>
        <url-pattern>/ListaJunta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>RedirectFilter</filter-name>
        <filter-class>com.condominiosweb.secutiry.RedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/Residente</url-pattern>
        <url-pattern>/ListaResidente</url-pattern>
        <url-pattern>/Condominio</url-pattern>
        <url-pattern>/ListaCondominio</url-pattern>
        <url-pattern>/Vivienda</url-pattern>
        <url-pattern>/ListaVivienda</url-pattern>
        <url-pattern>/Inicio</url-pattern>
        <url-pattern>/Cuota</url-pattern>
        <url-pattern>/ListaCuota</url-pattern>
        <url-pattern>/Pago</url-pattern>
        <url-pattern>/ListaMoroso</url-pattern>
        <url-pattern>/Reserva</url-pattern>
        <url-pattern>/ListaReserva</url-pattern>
        <url-pattern>/Queja</url-pattern>
        <url-pattern>/ListaQuejaResidente</url-pattern>
        <url-pattern>/ListaQueja</url-pattern>
        <url-pattern>/Mensaje</url-pattern>
        <url-pattern>/ListaMensaje</url-pattern>
        <url-pattern>/Visita</url-pattern>
        <url-pattern>/ListaVisita</url-pattern>
        <url-pattern>/Junta</url-pattern>
        <url-pattern>/ListaJunta</url-pattern>
    </filter-mapping>
</web-app>
